<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.savemoney">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveMoney">
        <activity
            android:name=".ExpenseActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".LoginScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddCateScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".AddExpenseScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".CateItemScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".CateSettingItemScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".CateSettingListScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".DetailExpenseScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".IconListRVScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".MenuScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".ProfileScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".RegisterScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".SettingScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>